<%= form_for(@article, html: {multipart: true}) do |f| %>
	<ul>
		<% @article.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
	
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	
	<p>
		<%= f.label :body, "Text" %><br />
		<%= f.text_area :body %>
	</p>
	
	<p>
		<%= f.label :tag_list, "Tags (example: tag1, tag2, tag3...)" %><br />
		<%= f.text_field :tag_list %>
	</p>
	
	<p>
		<% if @article.image.exists? %>
			<%= image_tag @article.image.url %>
		<% end %><br />
		
		<%= f.label :image, "Attach an Image (previous image will be deleted)" %><br />
		<%= f.file_field :image %>
	</p>
	
	<p>
		<%= link_to "Cancel", articles_path, data: {confirm: "Are u sure want to cancel?"} %><br />
		<%= f.submit "Save"%>
	</p>
<% end %>