<h1>Title: <%= @article.title %></h1>

<p><i>by <%= Author.find(@article.author_id).username %></i></p>

<p><i>Created at <%= @article.created_at.strftime("%d-%m-%Y") %></i></p>
<p><i>Last time updated at <%= @article.updated_at.strftime("%d-%m-%Y") %></i></p>

<p>
	Tags:
	<% @article.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p><br />

<p>
	<% if @article.image.exists? %>
		<%= image_tag @article.image.url %>
	<% end %>
</p>

<p><%= @article.body %></p><br />

<% if logged_in? && (current_user.is_admin || @article.author_id == @author.id) %>
	<%= link_to "EDIT", edit_article_path(@article) %><br />
	<%= link_to "DELETE", article_path(@article), method: :delete, data: {confirm: "Are u sure?"} %><br /><br />
<% end %>

<h3>Post a Comment</h3>
	<%= render partial: "comments/form" %>
	
<%= link_to "<< Back to Articles List", articles_path %>

<h3>Comments (<%= @article.comments.count %>)</h3>
	<%= render partial: "articles/comment", collection: @article.comments %>
