<!DOCTYPE html>
<html>
  <head>
    <title>Blog On Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
	<p class="flash"><%= flash.notice %></p>
	
	<h6>
		<% if logged_in? %>
			<%= "Logged in as #{current_user.username}" %>
			<%= link_to "(logout)", logout_path %><br />
			<%= link_to "(edit profile)", edit_author_path(current_user.id) %>
		<% else %>
			<%= link_to "(login)", login_path %>
		<% end %>
	</h6>
	
	<h6>
		<% if !logged_in? %>
			<%= link_to "(register)", new_author_path %>
		<% end %>
	</h6>
	
    <div id="container">
		<div id="content">
			<%= yield %>
			
			
		</div>
	</div>
	
  </body>
</html>
